[submodule "extern/pcg-cpp"]
	path = extern/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
[submodule "extern/concurrentqueue"]
	path = extern/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
